.header {
    margin-top: 32px;
    margin-bottom: 73px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

@media (max-width: 767px) {
    .header {
        justify-content: center;
        margin-bottom: 105px;
    }
}

@media (min-width: 767px) {
    .header {
        justify-content: space-between;
        margin-bottom: 129px;
    }
}

@media (min-width: 1440px) {
    .header {
        margin-bottom: 100px;
        opacity: 1;
    }
    .hide {
        height: 0;
        opacity: 0;
        transition: height 1s ease;
    }
    .fixed {
        margin: 0;
        padding-left: 5%;
        padding-right: 5%;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 95px;
        background-color: rgba(255, 255, 255, 0.808);
        z-index: 2;
        transition: height 1s ease;
    }
}

@media (min-width: 1920px) {
    .header {
        margin-bottom: 86px;
        opacity: 1;
    }
}