@keyframes buttonAnimation {
    0% {
        border-radius: 100%;
        transform: translateY(-100%) translateZ(0)
    }
    100% {
        border-radius: 0;
        transform: translateY(0) translateZ(0)
    }
}

button {
    font-family: 'Visby Italic';
    font-size: 16px;
}

.button {
    position: relative;
    padding: 17px 24px;
    color: #3E24EA;
    background-color: #fff;
    border-radius: 150px;
    border: 1px solid #3E24EA;
    text-align: center;
    transition: color 1s;
    overflow: hidden;
    z-index: 1;
}

.header {
    background-color: rgba(102, 102, 102, 0);
    overflow: hidden;
}

.inverse {
    color: #24abea;
}

.block {
    display: inline-block;
}

.button:before {
    content: "";
    display: block;
    position: absolute;
    top: -40px;
    left: -40px;
    right: -40px;
    bottom: -40px;
}

.buttonTitle {
    position: relative;
    top: -1px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    z-index: 2;
}

.buttonTitle span {
    display: block;
    text-align: center;
    transform-origin: left top;
    transition: color .2s, transform .4s;
}

.buttonTitle span:after {
    content: attr(data-text);
    display: block;
    position: absolute;
    top: 150%;
    left: 0;
    transform: skewY(5deg);
    transform-origin: left top;
    transition: transform .4s;
}

.buttonRipple {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    overflow: hidden;
    transform: translateZ(0);
    border-radius: inherit;
}

.buttonRipple span {
    display: block;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    background: currentColor;
    border-radius: 50%;
    transition: transform .5s cubic-bezier(.4, 0, 0, 1), border-radius .5s cubic-bezier(.4, 0, 0, 1);
}

.buttonRipple span {
    display: block;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    background: currentColor;
    border-radius: 50%;
    transition: transform .5s cubic-bezier(.4, 0, 0, 1), border-radius .5s cubic-bezier(.4, 0, 0, 1);
}

.button:hover .buttonTitle span {
    color: #fff;
    transform: translateY(-150%) skewY(-7deg);
}

.button:hover .buttonTitle span:after {
    transform: skewY(7deg);
}

.button:hover .buttonRipple span {
    border-radius: 0;
    transform: translateY(0);
    transition-duration: 0s, 0s;
    animation: buttonAnimation .5s cubic-bezier(.4, 0, 0, 1);
}

@media (min-width: 1440px) {
    .button,
    .inverse {
        padding: 29px 40px;
        font-size: 22px;
    }
}