.slider {
    margin-bottom: 50px;
}

.image {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding: 21.44px;
    margin-bottom: 21.44px;
    margin-right: 21.44px;
    border: 5px solid #F0F0F8;
    border-radius: 26.7973px;
}

.image:hover {
    transform: scale(1.2, 1.2);
    transition: transform 0.3s ease;
    cursor: pointer;
}

@media (min-width: 768px) {
    .image {
        width: fit-content;
    }
}