.flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}

.column {
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.name {
    font-size: 18px;
}

.commentContainer {
    padding-top: 50px;
    padding-bottom: 50px;
}

.text {
    white-space: pre-line;
    font-size: 18px;
    line-height: 150%;
}

@media (min-width: 768px) {
    .commentContainer {
        display: flex;
    }
    .flex {
        flex: 0 0 40%;
        flex-direction: column;
    }
    .photo {
        width: 159px;
    }
    .name {
        font-size: 20px;
    }
}

@media (min-width:1440px) {
    .commentContainer {
        padding: 50px 0;
        margin-bottom: 100px;
    }
    .flex {
        flex: 0 0 63%;
        flex-direction: row;
    }
    .text {
        font-size: 24px;
    }
    .photo {
        height: fit-content;
    }
    .column {
        justify-content: start;
    }
    .name {
        font-size: 28px;
        margin-bottom: 16px;
    }
}

@media (min-width:1920px) {
    .flex {
        flex: 0 0 45%
    }
}