.sectionPadding {
    padding: 50px 24px;
}

.offer {
    margin-bottom: 35px;
}

.sectionTitle {
    margin-bottom: 24px;
    font-weight: normal;
    font-size: 32px;
    line-height: 120%;
}

.listTablet {
    display: none;
}

.subTitleGrey,
.subTitleGreyTwo,
.subTitleGreen,
.subTitleRed,
.subTitleBeige,
.subTitleGreenGrey {
    display: inline-block;
    margin-right: 8px;
    margin-bottom: 8px;
    padding: 8px 24px;
    border-radius: 45px;
}

.subTitleGrey {
    background-color: #F7F7FD;
}

.subTitleGreyTwo {
    background-color: #F6F8FA;
}

.subTitleGreen {
    background-color: #EFF7F3;
}

.subTitleRed {
    background-color: #FFF0F0;
}

.subTitleBeige {
    background-color: #F8EEEE;
}

.subTitleGreenGrey {
    background-color: #EEF4F1;
}

.new {
    color: #F83E3E;
    font-weight: 600;
    font-size: 12px;
    font-family: 'Visby Italic';
}

@media (min-width: 768px) {
    .sectionPadding {
        padding: 50px 63px;
    }
    .sectionTitle {
        margin-bottom: 40px;
        font-size: 56px;
    }
    .listMobile {
        display: none;
    }
    .listTablet {
        display: block;
    }
}

@media (min-width:1440px) {
    .sectionPadding {
        padding: 100px 160px;
    }
    .sectionTitle {
        margin-bottom: 50px;
        font-size: 80px;
    }
}

@media (min-width:1920px) {
    .sectionPadding {
        padding: 100px 208.5px 50px 208.5px;
    }
    .sectionTitle {
        font-size: 120px;
    }
    .offer {
        margin-bottom: auto;
    }
}