nav {
    font-size: 16px;
}

.navigationDiv {
    display: none;
    flex: 0 -1 68%;
}

.navLink {
    margin-right: 32px;
}

.navLink:hover {
    padding-bottom: 5px;
    border-bottom: 2px solid black;
}

.langBtn {
    display: inline;
    padding: 0;
}

.active {
    color: #3E24EA;
}

@media (min-width: 768px) {
    .navigationDiv {
        display: flex;
    }
}