.container {
    padding: 50px 24px;
}

.title {
    font-weight: 400;
    font-size: 32px;
}

.question:last-child {
    border-bottom: none;
}

@media (min-width:768px) {
    .container {
        padding: 50px 64px;
    }
    .title {
        width: 50%;
        font-size: 56px;
        line-height: normal;
    }
}

@media (min-width: 1440px) {
    .container {
        padding: 50px 160px;
    }
    .title {
        margin-bottom: 100px;
        font-size: 80px;
    }
}

@media (min-width: 1920px) {
    .container {
        padding: 50px 208px;
    }
    .title {
        font-size: 120px;
    }
    .flex {
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        display: flex;
        flex-direction: column;
    }
}